<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.android.garvit.timetable">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".View_subjects"
            android:label="@string/title_activity_view_subjects"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light"
            tools:targetApi="jelly_bean" />
        <activity
            android:name=".Add_subjects"
            android:label="@string/title_activity_add_subjects"
            android:parentActivityName=".View_subjects"
            android:theme="@style/Theme.AppCompat.Light"
            tools:targetApi="jelly_bean" />
        <activity
            android:name=".View_clashes"
            android:label="@string/title_activity_clashes"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light"
            tools:targetApi="jelly_bean" />
        <activity
            android:name=".View_timetable"
            android:label="@string/title_activity_timetable"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            tools:targetApi="jelly_bean"/>
    </application>

</manifest>